div
  form(action=(phone ? `/phones/update` : "/phones"), method="POST")
    if phone
      input(type="hidden", name="id", value=phone.id)

    .form-group
      label Model
      input.form-control(name="phone[model]", required, value=(phone ? phone.model : null))

    .form-group
      label Brand
      input.form-control(name="phone[brand]", required, value=(phone ? phone.brand : null))

    .form-group
      label Price
      input.form-control(name="phone[price]", required, value=(phone ? phone.price : null))

    .form-group
      label Specifications
      textarea.form-control(name="phone[specifications]", required)
        = phone ? phone.specifications : null
    
    .form-group
      button.btn.btn-dark(type="submit") Submit